/* place your custom CSS overrides here */

#div .highlight {
	max-width: 95%;
	max-height: 350px;
	overflow-y: auto;
	overflow-x: hidden;
}
.toc-list-h3 {
    display: none;
    background-color: #1E2224;
}
.toc-h3 {
    padding-left: 35px;
    font-size: 11px;
}
.toc-list-h4 {
    display: none;
    background-color: #1E2224;
}
.toc-h4 {
    padding-left: 45px;
    font-size: 10px;
}
.toc-list-h5 {
    display: none;
    background-color: #1E2224;
}
.toc-h5 {
    padding-left: 55px;
    font-size: 9px;
}
.toc-list-h6 {
    display: none;
    background-color: #1E2224;
}
.toc-h6 {
    padding-left: 65px;
    font-size: 8px;
}
.well {
    background: rgba(0, 0, 0, 0.01);
}

.content blockquote > p {
  background-color: #1C1C19;
  border-radius: 5px;
  border-top: 1px solid #000;
  border-bottom: 1px solid #404040;
  padding: 13px 2em;
  color: #ccc; 
}

.lang-selector {
    border-radius: 3px;
}

.lang-selector a.active {
    background-color: #f6574d;
    border-radius: 3px;
    font-weight: 600;
}

.page-wrapper .lang-selector {
    padding: 1em 28px;
}

.content table th, tr, td, tbody {
    border: 1px solid black;
}